[data-theme="mob"] {
  --background: oklch(1.0000 0 0);
  --foreground: oklch(0.2213 0.0075 196.6235);
  --card: oklch(1.0000 0 0);
  --card-foreground: oklch(0.2213 0.0075 196.6235);
  --popover: oklch(1.0000 0 0);
  --popover-foreground: oklch(0.2213 0.0075 196.6235);
  --primary: oklch(0.6282 0.2574 28.7929);
  --primary-foreground: oklch(0 0 0);
  --secondary: oklch(0 0 0);
  --secondary-foreground: oklch(1.0000 0 0);
  --muted: oklch(0.9217 0.0401 16.0045);
  --muted-foreground: oklch(0.5000 0.0108 196.8556);
  --accent: oklch(0.6282 0.2574 28.7929);
  --accent-foreground: oklch(0 0 0);
  --destructive: oklch(0.6947 0.2717 328.0206);
  --destructive-foreground: oklch(0 0 0);
  --border: oklch(0.9257 0.0032 197.1009);
  --input: oklch(0.9257 0.0032 197.1009);
  --ring: oklch(0.6282 0.2574 28.7929);
  --chart-1: oklch(0.8663 0.1764 162.0517);
  --chart-2: oklch(0.8356 0.1700 164.9157);
  --chart-3: oklch(0.7858 0.1541 168.4397);
  --chart-4: oklch(0.6743 0.1254 171.5792);
  --chart-5: oklch(0.5677 0.1033 170.5926);
  --sidebar: oklch(0.9863 0.0025 165.0769);
  --sidebar-foreground: oklch(0.3211 0 0);
  --sidebar-primary: oklch(0.8663 0.1764 162.0517);
  --sidebar-primary-foreground: oklch(0 0 0);
  --sidebar-accent: oklch(0.9705 0.0392 159.2739);
  --sidebar-accent-foreground: oklch(0.5300 0.1033 170.5926);
  --sidebar-border: oklch(0.9349 0.0069 174.3698);
  --sidebar-ring: oklch(0.8663 0.1764 162.0517);
  --font-sans: Inter, sans-serif;
  --font-serif: Source Serif 4, serif;
  --font-mono: JetBrains Mono, monospace;
  --radius: 0.5rem;
  --shadow-x: 0;
  --shadow-y: 1px;
  --shadow-blur: 3px;
  --shadow-spread: 0px;
  --shadow-opacity: 0.1;
  --shadow-color: oklch(0 0 0);
  --shadow-2xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
  --shadow-xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
  --shadow-sm: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 1px 2px -1px hsl(0 0% 0% / 0.10);
  --shadow: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 1px 2px -1px hsl(0 0% 0% / 0.10);
  --shadow-md: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 2px 4px -1px hsl(0 0% 0% / 0.10);
  --shadow-lg: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 4px 6px -1px hsl(0 0% 0% / 0.10);
  --shadow-xl: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 8px 10px -1px hsl(0 0% 0% / 0.10);
  --shadow-2xl: 0 1px 3px 0px hsl(0 0% 0% / 0.25);
  --tracking-normal: 0em;
  --spacing: 0.25rem;
}

[data-theme="mob"].dark {
  --background: oklch(0.2213 0.0075 196.6235);
  --foreground: oklch(0.9761 0 0);
  --card: oklch(0.2585 0.0086 196.6295);
  --card-foreground: oklch(1.0000 0 0);
  --popover: oklch(0.2585 0.0086 196.6295);
  --popover-foreground: oklch(1.0000 0 0);
  --primary: oklch(0.6282 0.2573 28.6835);
  --primary-foreground: oklch(0 0 0);
  --secondary: oklch(0 0 0);
  --secondary-foreground: oklch(1.0000 0 0);
  --muted: oklch(0.3065 0.0097 196.6577);
  --muted-foreground: oklch(0.7308 0.0102 196.9333);
  --accent: oklch(0.6282 0.2573 28.6835);
  --accent-foreground: oklch(0 0 0);
  --destructive: oklch(0.6955 0.2707 328.0110);
  --destructive-foreground: oklch(0 0 0);
  --border: oklch(0.3715 0 0);
  --input: oklch(0.3715 0 0);
  --ring: oklch(0.6282 0.2573 28.6835);
  --chart-1: oklch(0.8856 0.1633 160.6481);
  --chart-2: oklch(0.8663 0.1764 162.0517);
  --chart-3: oklch(0.8356 0.1700 164.9157);
  --chart-4: oklch(0.7858 0.1541 168.4397);
  --chart-5: oklch(0.6743 0.1254 171.5792);
  --sidebar: oklch(0.2046 0 0);
  --sidebar-foreground: oklch(0.9219 0 0);
  --sidebar-primary: oklch(0.8663 0.1764 162.0517);
  --sidebar-primary-foreground: oklch(0 0 0);
  --sidebar-accent: oklch(0.5677 0.1033 170.5926);
  --sidebar-accent-foreground: oklch(0 0 0);
  --sidebar-border: oklch(0.3715 0 0);
  --sidebar-ring: oklch(0.8663 0.1764 162.0517);
  --font-sans: Inter, sans-serif;
  --font-serif: Source Serif 4, serif;
  --font-mono: JetBrains Mono, monospace;
  --radius: 0.375rem;
  --shadow-x: 0;
  --shadow-y: 1px;
  --shadow-blur: 3px;
  --shadow-spread: 0px;
  --shadow-opacity: 0.1;
  --shadow-color: oklch(0 0 0);
  --shadow-2xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
  --shadow-xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
  --shadow-sm: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 1px 2px -1px hsl(0 0% 0% / 0.10);
  --shadow: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 1px 2px -1px hsl(0 0% 0% / 0.10);
  --shadow-md: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 2px 4px -1px hsl(0 0% 0% / 0.10);
  --shadow-lg: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 4px 6px -1px hsl(0 0% 0% / 0.10);
  --shadow-xl: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 8px 10px -1px hsl(0 0% 0% / 0.10);
  --shadow-2xl: 0 1px 3px 0px hsl(0 0% 0% / 0.25);
}
